.advantage {
  background-color: @lightgrey;
  text-align: center;

  &--wide {
    background-color: @blue;
  }

  &--housing,
  &--food,
  &--gift {
    background-color: @white;
  }
}

.advantage__number,
.advantage__description {
  color: @darkgrey;

  &--wide {
    color: @white;
  }
}

.advantage__title {
  color: @black;

  &--wide {
    color: @white;
  }
}
