.advantages {
  background-color: @white;
  color: @black;
}

.advantages__container {
  background-color: @white;
  padding: 23px 18px 46px;
  display: grid;
  grid-template-columns: 1fr;
}

.advantages__list {
  .list-style();
}

.advantages__item {
  position: relative;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__container {
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    padding: 0;
    }
  }

