.photocard__name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.photocard__link {
  display: block;
}

.photocard__author {
  color: @darkgrey;
}

.photocard__like {
  font-weight: 700;
}

.photocard--wide {
  grid-column: 1/-1;
}
