.site-nav__list {
  width: 320px;
  background-color: @blue;
  .list-style();
  text-align: center;
}

.site-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
}
